apiVersion: apps/v1
kind: Deployment
metadata:
  name: litellm-proxy
  namespace: 
  labels:
    app: litellm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: litellm
  template:
    metadata:
      labels:
        app: litellm
    spec:
      containers:
      - name: litellm
        image: ghcr.io/berriai/litellm:main-v1.57.8
        args:
          - "--config"
          - "/app/config.yaml"
        ports:
        - containerPort: 4000
        
        env:
        # --- Database Connection (Keep this to test DB connectivity) ---
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: litellm-db-secret
              key: POSTGRES_NON_ROOT_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: litellm-db-secret
              key: POSTGRES_NON_ROOT_PASSWORD
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: litellm-db-secret
              key: POSTGRES_DB
        
        
        - name: DATABASE_URL
          value: "postgresql://$(DB_USER):$(DB_PASS)@litellm-postgres-service:5432/$(DB_NAME)"
        
        
        - name: LITELLM_MASTER_KEY
          valueFrom:
            secretKeyRef:
              name: litellm-db-secret
              key: LITELLM_MASTER_KEY

        volumeMounts:
        
        - name: config-volume
          mountPath: /app/config.yaml
          subPath: config.yaml

      volumes:
        - name: config-volume
          configMap:
            name: litellm-config-file
